@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">

        <i class="fa fa-phone text-primary my-3 "></i>
        <p>
            0545881270
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Ercüment Batanay Caddesi No 101-103 Daire 7
            İstanbul/Ataşehir Türkiye
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
           utkanylmz@hotmail.com
        </p>

    </div>
